@inherits DbcFileUploadBase
@using BlazorInputFile

<div class="container">
    <div class="input-group mb-3">
        <div class="custom-file">
            @if (DoubleBuffer)
            {
                <InputFile OnChange="GetFile" type="file" class="custom-file-input" id="inputGroupFile" aria-describedby="inputGroupFileAddon"/>
            }
            else
            {
                <InputFile OnChange="GetFile" type="file" class="custom-file-input" id="inputGroupFile" aria-describedby="inputGroupFileAddon"/>
            }
            <label class="custom-file-label" for="inputGroupFile">
                @if (Label != null)
                {
                    @Label
                }
                else
                {
                    <span>Choose file</span>
                }
            </label>
        </div>
        <div class="input-group-append">
            <button @onclick="UploadFile" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon">Upload</button>
        </div>
    </div>
</div>