@page "/"
@inherits IndexBase

@if (statusMessage != null)
{
    <div class="alert alert-@statusMessage.Status" role="alert">
        @statusMessage.Message
    </div>
}

<DbcFileUpload />

<WarningDialog @ref="WarningDialogComponent" DeleteEventCallback="@Delete" />

<CANDatabaseList @ref="CANDatabaseListComponent" DeleteWarningEventCallback="@DeleteWarning" />